# NOTE: This is the "compose" env file. Not for Laravel.

# Host port for nginix (https://localhost:8080)
APP_PORT=8080

# Host port for MySQL (for GUI client)
DB_PORT=3306

# MySQL credentials (must match ./src/.env)
DB_DATABASE=*--CHANGE--*
DB_USERNAME=*--CHANGE--*
DB_PASSWORD=*--CHANGE-(STRONG)--*
DB_ROOT_PASSWORD=*--CHANGE-(STRONG)--*

# Linux host users for file permissions
UID=1000
GID=1000
